<app-navigation-bar></app-navigation-bar>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="abc">
<div class="register">
                <div class="row">
                    <div class="col-md-3 register-left">
                        <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
                        <h3>Welcome</h3>
                    </div>
                    
                    <div class="col-md-9 register-right" >
                                <h3 class="register-heading" *ngIf="!error">Forgot Password!!</h3>
                                
                                <div class="row register-form" *ngIf="!error">
                                    <div class="col-md-6">
                                    <div class="form-group">
                                        <input #inputEmail type="text" name="email" class="form-control" placeholder="Email*" required email>
                                        <button type="submit" class="btnRegister" (click)="validate(inputEmail.value,question.value,answer.value)">Submit</button>
                                    </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <select class="form-control" name="question" id="question" #question  required>
                                                <option class="hidden" selected disabled>Please select your Sequrity Question</option>
                                                <option>What is your Birthdate?</option>
                                                <option>What is your Favorite Food?</option>
                                                <option>What is your Favorite Movie?</option>
                                                <option>What is Your Nick Name?</option>
                                                <option>What is your Pet Name?</option>
                                            </select>
                                            
                                        </div>

                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Enter Your Answer *" name="answer" #answer id="answer"  required/>
                                            
                                        </div>

                                    </div><br><br>
                                    
                                </div>
                                <div *ngIf="error" class="error">
                                    <p>Invalid Email or Question or Answer!!!</p><br>
                                    <a class="btn btn-primary" (click)="againvalidate()">Try Again</a>
                                </div> 


                              <!--  <form name="form" (ngSubmit)="f.form.valid && resetPassword()" #f="ngForm" [mustMatch]="['password', 'confirmPassword']" novalidate >
                                <div class="row register-form" *ngIf="!validates">
                                    <div class="col-md-6">
                                        <input type="password" name="password" class="form-control" [(ngModel)]="UserData.password" placeholder="Password*" #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required minlength="6">
                                            <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
                                                <div *ngIf="password.errors?.required">Password is required</div>
                                                <div *ngIf="password.errors?.minlength">Password must be at least 6 characters</div>
                                            </div>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="password" name="confirmPassword" class="form-control"  placeholder="ConfirmPassword*" #confirmPassword [ngClass]="{ 'is-invalid': f.submitted && confirmPassword.invalid }" required>
                                            <div *ngIf="f.submitted && confirmPassword.invalid" class="invalid-feedback">
                                                <div *ngIf="confirmPassword.errors?.required">Confirm Password is required</div>
                                                <div *ngIf="confirmPassword.errors?.mustMatch">Passwords must match</div>
                                            </div>
                                        <button type="submit" class="btnRegister">Submit</button>
                                    </div><br><br>
                                </div>
                                </form>-->

                                <!--

                                    <div class="col-md-9 register-right" >
                                <h3 class="register-heading" >Forgot Password!!</h3>
                                <form [formGroup]="registerForm" (ngSubmit)="resetPassword(password.value)">
                                <div class="row register-form" *ngIf="!validates">
                                    <div class="col-md-6">
                                        <input type="password" formControlName="password" class="form-control" #password [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                            <div *ngIf="f.password.errors.required">Password is required</div>
                                            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                                    <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                                        <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                                        <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                                    </div>

                                    </div>
                                    
                                </div>
                            </form>   
                    </div>

                                -->
                    </div>
                
                    
                </div>
            </div>
            </div>
            <app-footer></app-footer>