<app-navigation-bar></app-navigation-bar>
<!------ Include the above in your HEAD tag ---------->

<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../../assets/js/jobseekerRegister.js"></script>
    <script src="https://code.angularjs.org/1.6.9/angular-route.js"></script>
    <script src="https://code.angularjs.org/1.6.9/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.6.9/angular.js"></script>
</head>

<body>
    <div class="abc">
        <div class=" register">
            <div class="row">
                <div class="col-md-2 register-left">
                    <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
                    <h3>Welcome</h3>

                </div>
                <div class="col-md-10 register-right">


                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <h3 class="register-heading">Jobs</h3>

                            <div class="row register-form">
                                <div class="col-md-6" *ngFor="let job of jobsdata">

                                    <div class="card" *ngIf="job.vacancy>0" style="width: auto; height: auto;">

                                        <div class="card-body">
                                            <h5 class="card-title"><b>{{job.title}}</b></h5>
                                            <p class="card-text"><b>Company Name:</b>{{job.cname}}</p>
                                            <p class="card-text"><b>Contact Person Name:</b>{{job.cpname}}</p>
                                            <p class="card-text">Minqualification: {{job.minqualification}}</p>
                                            <p class="card-text">Minexperience: {{job.minexperience}}</p>
                                            <p class="card-text">salary: {{job.minsalary}}-{{job.maxsalary}}</p>
                                            <p class="card-text">Location: {{job.location}}</p>
                                            <p class="card-text">For any Question: {{job.phone}}</p>

                                            <p class="card-text">{{job.description}}</p>

                                            <p class="card-text"><b>Vacancy </b>{{job.vacancy}}</p>

                                            <a class="btn btn-secondary text-white" [routerLink]="['/job',job._id]">View
                                                Job</a> &nbsp;
                                            <a class="btn btn-primary text-white"
                                                [routerLink]="['/ApplyForJob',job._id]">Apply</a>
                                        </div>


                                    </div><br>

                                </div><br><br>
                                <div class="col-xl-20">
                                    <h5>
                                        <p><b> <br> Choose a job you love, and you will never have to work a day in your
                                                life. -Confucius</b></p>
                                    </h5>
                                </div>
                            </div>



                        </div>
                    </div>

                </div>



            </div>

        </div>
    </div>
</body>
<app-footer></app-footer>