<app-navigation-bar></app-navigation-bar>
<html>
    <body>
        <div class="detail">
            <p style=" text-align: center; font-weight: bold;">Contact Us</p>
            <p>
                Name:Akshay Bhanderi,Darshan Bhuva
            </p>
            <p>
                College: DDU,college road,Nadiad
            </p>
        <p>
            Email : jobportalg@gmail.com
        </p>
        <p>
            Mobile no. : +91987654321
        </p>
        </div>
    </body>
</html>
<app-footer></app-footer>
