<app-navigation-bar></app-navigation-bar>
<!------ Include the above in your HEAD tag ---------->
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../../assets/js/jobseekerRegister.js"></script>
    <script src="https://code.angularjs.org/1.6.9/angular-route.js"></script>
    <script src="https://code.angularjs.org/1.6.9/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.6.9/angular.js"></script>
</head>
<div class="abc">
<div class="register">
                <div class="row" >
                    <div class="col-md-3 register-left">
                        <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
                        <h3>Welcome</h3>
                        <p>You are 30 seconds away from earning your own money!</p>
                        <a class="btn btn-primary"routerLink="/jobseekerLogin">Login</a>
                    </div>
                    <div class="col-md-9 register-right" >
                        <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist" style="background-color: #2c2c54;">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" routerLink='/jobseekerRegister' role="tab" aria-controls="home" aria-selected="true">Job Seeker</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" routerLink='/employerRegister' role="tab" aria-controls="profile" aria-selected="false">Hirer</a>
                            </li>
                        </ul>
                        
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <h3 class="register-heading">Are you looking for job??</h3>
                                <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" [mustMatch]="['password', 'confirmPassword']" novalidate>
                                <div class="row register-form" *ngIf="!error">
                                    <div class="col-md-6">
                                        <div class="form-group">
        
                                            <input type="text" name="firstName" class="form-control" placeholder="First Name *" [(ngModel)]="registerUserData.firstName" #firstName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && firstName.invalid }" required>
                                            <div *ngIf="f.submitted && firstName.invalid" class="invalid-feedback">
                                                <div *ngIf="firstName.errors?.required">First Name is required</div>
                                            </div>
                                        </div>
                                        
                                        
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Last Name *" name="lastname"  [(ngModel)]="registerUserData.lastname" #lastName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && lastName.invalid }" required/>
                                            <div *ngIf="f.submitted && lastName.invalid" class="invalid-feedback">
                                                <div *ngIf="lastName.errors?.required">Last Name is required</div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <input type="password" name="password" class="form-control" [(ngModel)]="registerUserData.password" placeholder="Password*" #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required minlength="6">
                                            <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
                                                <div *ngIf="password.errors?.required">Password is required</div>
                                                <div *ngIf="password.errors?.minlength">Password must be at least 6 characters</div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <input type="password" name="confirmPassword" class="form-control" [(ngModel)]="registerUserData.confirmPassword" placeholder="ConfirmPassword*" #confirmPassword="ngModel" [ngClass]="{ 'is-invalid': f.submitted && confirmPassword.invalid }" required>
                                            <div *ngIf="f.submitted && confirmPassword.invalid" class="invalid-feedback">
                                                <div *ngIf="confirmPassword.errors?.required">Confirm Password is required</div>
                                                <div *ngIf="confirmPassword.errors?.mustMatch">Passwords must match</div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control"  placeholder="Highest Qualification *" id="study" name="study" #study="ngModel" [ngClass]="{ 'is-invalid': f.submitted && study.invalid }" [(ngModel)]="registerUserData.study"required />
                                            <div *ngIf="f.submitted && study.invalid" class="invalid-feedback">
                                                <div *ngIf="study.errors?.required">Qualification is required</div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="maxl">
                                                <label>Gender :</label>&nbsp;
                                                <label class="radio inline"> 
                                                    <input type="radio" name="gender" value="male" id="gender" checked #gender="ngModel" [ngClass]="{ 'is-invalid': f.submitted && gender.invalid }" [(ngModel)]="registerUserData.gender" required>
                                                    <span> Male </span> 
                                                </label> &nbsp;
                                                <label class="radio inline"> 
                                                    <input type="radio" name="gender" value="female" id="gender" #gender="ngModel" [ngClass]="{ 'is-invalid': f.submitted && gender.invalid }" [(ngModel)]="registerUserData.gender" required>
                                                    <span> Female </span> 
                                                </label>
                                                
                                            </div>
                                            <div *ngIf="f.submitted && gender.invalid" class="invalid-feedback">
                                                Gender is required
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" name="email" class="form-control" [(ngModel)]="registerUserData.email" placeholder="Email*" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email>
                                            <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                                                <div *ngIf="email.errors?.required">Email is required</div>
                                                <div *ngIf="email.errors?.email">Email must be a valid email address</div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" minlength="10" maxlength="10" name="phone" [pattern]="mobNumberPattern" class="form-control" id="phone" #phone="ngModel" placeholder="Your Phone *" [ngClass]="{ 'is-invalid': f.submitted && phone.invalid }" [(ngModel)]="registerUserData.phone"required />
                                            <div *ngIf="f.submitted && phone.invalid " class="invalid-feedback">
                                                <div *ngIf="phone.errors?.required">phone is required</div>
                                                
                                                <div *ngIf="phone.errors?.pattern ">Phone Number must be a valid.(10 digit)</div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <select class="form-control" name="question" id="question" #question="ngModel" [(ngModel)]="registerUserData.question" [ngClass]="{ 'is-invalid': f.submitted && question.invalid }" required>
                                                <option class="hidden" selected disabled>Please select your Sequrity Question</option>
                                                <option>What is your Birthdate?</option>
                                                <option>What is your Favorite Food?</option>
                                                <option>What is your Favorite Movie?</option>
                                                <option>What is Your Nick Name?</option>
                                                <option>What is your Pet Name?</option>
                                            </select>
                                            <div *ngIf="f.submitted && question.invalid" class="invalid-feedback">
                                                <div *ngIf="question.errors?.required">Question is required</div>
                                            </div>
                                        </div>
                                        
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Enter Your Answer *" name="answer" id="answer" #answer="ngModel" [(ngModel)]="registerUserData.answer" [ngClass]="{ 'is-invalid': f.submitted && answer.invalid }" required/>
                                            <div *ngIf="f.submitted && answer.invalid" class="invalid-feedback">
                                                <div *ngIf="answer.errors?.required">Answer is required</div>
                                            </div>
                                        </div>
                                        <button class="btnRegister" type="reset">Cancel</button>
                                        <button  class="btnRegister"  >Register</button>
                                    </div>
                                </div>
                                </form>
                                <div *ngIf="error" class="error">
                                    <p>User already exits!! Use different Email</p><br>
                                    <button class="btn btn-primary"  (click)="againregisterUser()">Register Again</button>
                                </div>
                                
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
                </div>
            </div>
            <app-footer></app-footer>