/* You can add global styles to this file, and also import other style files */
@import 'assets/bootstrap/css/bootstrap.min.css';
@import 'assets/bootstrap/css/bootstrap-grid.min.css';
@import 'assets/bootstrap/css/bootstrap-reboot.min.css';

.abc{
    background-image: url('assets/image/bram-naus-n8Qb1ZAkK88-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.register{
    

    background: -webkit-linear-gradient(left, #022a54, #398ca3);
    /*background-image: url("../../assets/image/bram-naus-n8Qb1ZAkK88-unsplash.jpg");*/

    background: -webkit-linear-gradient(left, rgba(57, 140, 163,0), rgba(2, 42, 84,0.3));
    background: -o-linear-gradient(left, rgba(57, 140, 163,0), rgba(2, 42, 84,0.3));
    background: -moz-linear-gradient(left, rgba(57, 140, 163,0), rgba(2, 42, 84,0.3));
    background: linear-gradient(to left, rgba(57, 140, 163,0), rgba(2, 42, 84,0.3));

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 0.1%;
    padding: 3%;
    
}

.register-right{
    background: whitesmoke;
    
    border-radius: 3%;
}

.register-left img{
    margin-top: 50%;
    margin-bottom: 5%;
    width: 25%;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}

.register-left{
    text-align: center;
    color: #fff;
    margin-top: 4%;
}
.register-left input{
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    width: 60%;
    background: #f8f9fa;
    font-weight: bold;
    color: #383d41;
    margin-top: 30%;
    margin-bottom: 3%;
    cursor: pointer;
}


@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
.register-left p{
    font-weight: lighter;
    padding: 12%;
    margin-top: -9%;
}

.btnRegister{
    float: right;
    margin-top: 5%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #2c2c54;
    color: #fff;
    font-weight: 500;
    width: 35%;
    cursor: pointer;
}
.register .nav-tabs{
    margin-top: 3%;
    border: none;
    background: #0062cc;
    border-radius: 1.5rem;
    width: 28%;
    float: right;
}
.register .nav-tabs .nav-link{
    padding: 2%;
    height: 34px;
    font-weight: 600;
    color: #fff;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
.register .nav-tabs .nav-link:hover{
    border: none;
}
.register .nav-tabs .nav-link.active{
    width: 100px;
    color: #0062cc;
    border: 2px solid #0062cc;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}
.register-heading{
    text-align: center;
    margin-top: 8%;
    margin-bottom: -15%;
    color: #495057;
}

.register .register-form{
    padding: 10%;
    margin-top: 10%;
}