<app-navigation-bar></app-navigation-bar>

<body>
   
    <div class="table-responsive-lg">
        <table class="table table-hover ">
            <thead class="thead-dark">
            <tr >
              
              <th>
                 Name 
              </th>
              <th>
                CurrentCity 
              </th>
              <th>
                Contact No.
             </th>
             <th>
                Email
             </th>
             <th>
                College
             </th>
             <th>
                Degree
             </th>
             <th>
                Skills 
             </th>
             
              <th>

              </th>
              <th>

            </th>

            </tr>
        </thead>
            <tr *ngFor="let resume of resumesdata">
               
                <td> {{resume.Name}} </td>
               
               
                <td> {{resume.CurrentCity}} </td>
               
               
                <td> {{resume.contactNo}} </td>
               
               
                <td> {{resume.email}} </td>
               
               
                <td> {{resume.College}} </td>
               
               
                <td> {{resume.Degree}} </td>
               
               
                <td> {{resume.Skill1}},{{resume.Skill2}} </td>
               
                <td>
                  <a  class="btn btn-secondary" [routerLink]="['/Hire',resume.email]">
                    Hire
                </a>
                </td>

                <td>
                  <a  class="btn btn-secondary" (click)="getOneResume(resume._id)">
                    View Resume
                </a>
                </td>
               
            </tr>
          </table>
    </div>
</body>
<app-footer></app-footer>