<app-navigation-bar></app-navigation-bar>
<!------ Include the above in your HEAD tag ---------->
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../../assets/js/jobseekerRegister.js"></script>
    <script src="https://code.angularjs.org/1.6.9/angular-route.js"></script>
    <script src="https://code.angularjs.org/1.6.9/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.6.9/angular.js"></script>
</head>
<body>
    <div class="abc">
<div class="register">
                <div class="row" >
                    <div class="col-md-3 register-left">
                        <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
                        <h3>Welcome</h3>
                        
                    </div>
                    <div class="col-md-9 register-right" >
                        
                        
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <h3 class="register-heading">Add New Password</h3>
                                <form name="form" (ngSubmit)="f.form.valid && resetPassword()" #f="ngForm" [mustMatch]="['password', 'confirmPassword']" novalidate>
                                <div class="row register-form" *ngIf="!error">
                                    <div class="col-md-6">
                                     
                                        
                                        <div class="form-group">
                                            <input type="password" name="password" class="form-control" [(ngModel)]="UserData.password" placeholder="Password*" #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required minlength="6">
                                            <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
                                                <div *ngIf="password.errors?.required">Password is required</div>
                                                <div *ngIf="password.errors?.minlength">Password must be at least 6 characters</div>
                                            </div>
                                        </div>
                                        
                                        <button  class="btnRegister"  >Submit</button>
                                        
                                    </div>
                                    <div class="col-md-6">
                                        
                                        <div class="form-group">
                                            <input type="password" name="confirmPassword" class="form-control" [(ngModel)]="registerUserData.confirmPassword" placeholder="ConfirmPassword*" #confirmPassword="ngModel" [ngClass]="{ 'is-invalid': f.submitted && confirmPassword.invalid }" required>
                                            <div *ngIf="f.submitted && confirmPassword.invalid" class="invalid-feedback">
                                                <div *ngIf="confirmPassword.errors?.required">Confirm Password is required</div>
                                                <div *ngIf="confirmPassword.errors?.mustMatch">Passwords must match</div>
                                            </div>
                                        </div>
                                        
                                        
                                        
                                        <button class="btnRegister" type="reset">Cancel</button>
                                        
                                    </div>
                                </div>
                                </form>
                                <div *ngIf="error" class="error">
                                    <p>User already exits!! Use different Email</p><br>
                                    <button class="btn btn-primary" >Register Again</button>
                                </div>
                                
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
                </div>
            </div>
            </body>
            <app-footer></app-footer>